---
source_url: https://www.notion.so/help/two-step-verification
source_site: notion
scraped_at_iso: 2026-06-26T11:11:43Z
---

* * *

![](https://www.notion.com/_next/image?url=%2Ffront-static%2Fshared%2Fcallouts%2Fnote-illustration.png&w=128&q=75)

**In order to use 2-step verification, you must:**

- Have a password.

- Not be in an organization that requires login via identity provider (such as Okta, Microsoft Azure, Google Workspace, etc.).


Two-step verification adds an extra layer of protection to your Notion account.

By enabling two-step verification, you can help keep your Notion account and your organization more secure. This feature is available to all plan types and can be set up easily in your account settings.

## [Set up two-step verification](https://www.notion.com/help/two-step-verification?_ck=421bfe27c4aa8670f5f91e5226436f0158d3d999ad8588e9165c5f3da03c3bef\#set-up-two-step-verification)

To set up two-step verification:

1. Go to `Settings` in your sidebar → `{your name}`.

2. Under `Account security`, select `Add verification method` next to `2-step verification`.

3. Choose to set up using `Code from authenticator` or `Text me a code`.


![](https://www.notion.com/_next/image?url=%2Ffront-static%2Fshared%2Fcallouts%2Fnote-illustration.png&w=128&q=75)

**Note:** Depending on your region, you may only be able to verify using an authenticator app.

### Using authenticator

If you want to set up two-step verification using an authenticator code:

1. Scan the QR code from your chosen authenticator app and name the authentication method to help you remember later.

2. Enter a one-time code from the authenticator to complete setup.

3. If this is your first added two-step method, make sure to save your backup codes.


### Using text

If you want to set up two-step verification using a code sent to your phone number:

1. Add a phone number where you can receive text messages.

2. Enter the code you were sent.

3. If this is your first added two-step method, make sure to save your backup codes.


## [Authenticate with your backup code](https://www.notion.com/help/two-step-verification?_ck=421bfe27c4aa8670f5f91e5226436f0158d3d999ad8588e9165c5f3da03c3bef\#authenticate-with-your-backup-code)

To authenticate using your backup code:

1. Sign into Notion using your email address and password.

2. When prompted to complete two-step authentication, click `Try another method`.

3. Click `Use backup code`.


## [Change or remove verification methods](https://www.notion.com/help/two-step-verification?_ck=421bfe27c4aa8670f5f91e5226436f0158d3d999ad8588e9165c5f3da03c3bef\#change-or-remove-verification-methods)

You can have up to four verification methods, two authenticators and two phone numbers. To change your verification methods:

1. Go to `Settings` in your sidebar → `{your name}`.

2. Under `Account security`, select `Change verification method` next to `2-step verification`.

3. Verify your identity using an active two-step method.


### Remove two-step verification

To remove two-step verification:

1. Hover and click the ••• next to the active method you want to remove.

2. Click `Delete` and confirm your choice.


### Add a verification method

To add another verification method:

1. Click on `Add authenticator`or `Add phone number`.

2. Follow the instructions above.


* * *

Do I need two-step verification?

Two-step verification isn't required, but we highly recommend that you use it as an extra layer of security to protect the contents of your Notion workspace.

I login to Notion through an identity provider. Do I still need two-step verification?

If you login to Notion through SAML SSO (using an identity provider), we recommend setting up two-step verification directly through that identity provider.

What if I lose my phone or verification device?

When you first set up two-step verification, you'll receive a set of six backup text codes. You can use these codes to access your account in the event you lose your verification device.

Each backup code can only be used once. Once all the codes have been used, you can generate a new set in your settings.

If you're having trouble, please contact us at [team@makenotion.com](mailto:team@makenotion.com).

I’m a workspace owner. Can I enforce everyone in my workspace to enable two-step verification?

No, workspace owners can't enforce this feature for all users at this time.

* * *

Help Center Survey Iframe

* * *

[![](https://www.notion.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fspoqsaf9291f%2F1gM5B4alBjE4nVS5zXkgZl%2F4908833ad48665fb3c5af87122f27ae0%2Fhipaa.png&w=3840&q=75)\\
\\
Up next\\
\\
Learn about how to make your Notion workspace HIPAA compliant, and how to enable HIPAA compliance 🏥\\
\\
Read more→](https://www.notion.com/help/hipaa "HIPAA configuration ")